n8n-workflow-debug-upload.json
{
  "name": "File Upload Test",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-financials",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "process-financials"
    },
    {
      "parameters": {
        "jsCode": "// Debug what we're receiving\nconst items = $input.all();\n\nconsole.log('Items received:', items.length);\nconsole.log('First item keys:', Object.keys(items[0] || {}));\nconsole.log('JSON keys:', Object.keys(items[0]?.json || {}));\nconsole.log('Binary keys:', Object.keys(items[0]?.binary || {}));\n\n// Check for file data in different places\nlet fileData = null;\nlet fileName = null;\n\nif (items[0]?.binary?.data) {\n  console.log('Found binary data in data field');\n  fileData = items[0].binary.data;\n  fileName = items[0].binary.data.fileName;\n} else if (items[0]?.binary?.file) {\n  console.log('Found binary data in file field');\n  fileData = items[0].binary.file;\n  fileName = items[0].binary.file.fileName;\n} else if (items[0]?.binary) {\n  // Check any binary field\n  const binaryKeys = Object.keys(items[0].binary);\n  if (binaryKeys.length > 0) {\n    console.log('Found binary data in field:', binaryKeys[0]);\n    fileData = items[0].binary[binaryKeys[0]];\n    fileName = items[0].binary[binaryKeys[0]].fileName;\n  }\n}\n\n// Return debug info for now\nconst debugInfo = {\n  itemsReceived: items.length,\n  hasBinary: !!items[0]?.binary,\n  binaryFields: Object.keys(items[0]?.binary || {}),\n  fileName: fileName || 'No file found',\n  fileSize: fileData?.fileSize || 0,\n  mimeType: fileData?.mimeType || 'unknown'\n};\n\nconsole.log('Debug info:', debugInfo);\n\n// For now, return test data\nconst testData = [\n  {\n    \"Date Concat\": \"Jan 2023\",\n    \"Year\": \"2023\",\n    \"Month\": \"1\",\n    \"Financial Statements\": \"Test Mode\",\n    \"Parent Account\": \"Debug\",\n    \"Account\": \"File Detection Test\",\n    \"Attribute\": \"1/1/2023\",\n    \"Value\": fileName || \"No file detected\"\n  },\n  {\n    \"Date Concat\": \"Info\",\n    \"Year\": \"2023\",\n    \"Month\": \"1\",\n    \"Financial Statements\": \"Debug Info\",\n    \"Parent Account\": \"System\",\n    \"Account\": \"Binary Fields Found\",\n    \"Attribute\": \"1/1/2023\",\n    \"Value\": debugInfo.binaryFields.join(', ') || \"None\"\n  }\n];\n\nreturn [{json: {data: JSON.stringify(testData), debug: debugInfo}}];"
      },
      "id": "debug",
      "name": "Debug Upload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.data }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Debug Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug Upload": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "debug-v1",
  "id": "file-upload-test",
  "tags": []
}